body{
  padding:0;
  margin:0;
}


.app{
  height:100vh;
  display: flex;
  background-color: rgb(47, 14, 70);
  color:aliceblue;

}
.main{
  width:75%;
  background: linear-gradient(to bottom, rgba(0,0,0,0),#27276d), url("./images/kbcback.png") center;
  display: flex;
  flex-direction: column;

}
.top{
height:50%;
}
.timer{
  width:70px;
  height:70px;
  border-radius:50%;
  border:5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

}
.bottom{
 height:50%; 
}
.pyramid{
  width:25%;
  background-color:rgba(31, 13, 89, 0.999);
  display:flex;
  align-items: center;
  justify-content: center;

}
.moneylist{
  list-style-type:none;
  width:100%;
  padding:20px;
}


.moneylistitem{
  display:flex;
  align-items: center;
  padding:5px;
  border-radius: 6px;
}
.moneylistitem.active{
  background-color:rgb(216, 224, 72);
  color:hwb(243 30% 38%)
}
.moneylistitemnumber{
  font-size: 18px;
  font-weight:100;
  width: 30%
}
.moneylistitemamount{
  font-size: 20px;
  font-weight:300;

}
