body{
  padding:0;
  margin:0;
}


.app{
  height:100vh;
  display: flex;
  background-color: rgb(47, 14, 70);
  color:aliceblue;

}
.main{
  width:75%;
  background: linear-gradient(to bottom, rgba(0,0,0,0),#27276d), url("./images/kbcback.png") center;
  display: flex;
  flex-direction: column;

}
.top{
height:50%;
position:relative;
}
.timer{
  width:70px;
  height:70px;
  border-radius:50%;
  border:5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
font-size:35px;
font-weight:bold;
position: absolute;
bottom:10px;
left:80px;


}
.bottom{
 height:50%; 
}
.trivia{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}
.question{
  width:80%;
  background:linear-gradient(#311692,black);
  border: 2px solid white;
  text-align: center;
  padding:20px;
  border-radius:10px;
  font-size: 20px;



}
.answers{
  width:100%;
  display: flex;
  justify-content:center;
  flex-wrap:wrap; 

}
.answer{
  width:40%;
  padding: 10px;
  text-align: center;
  background:linear-gradient(#01053a,rgb(37, 118, 44));
  border: 2px solid white;
  border-radius:20px;
  font-size: 20px;
  font-weight: 300;
  margin:0 10px 20px 10px;
  cursor: pointer;

}
.answer:hover,
.answer.active{
  background:blue
}
.answer.correct{
  animation:correct 3s ease forwards;
}
@keyframes correct{
  0%, 22%,42% {background:blue;}
  20%,40%,60%{ background:linear-gradient(#474d9e,rgb(13, 3, 67));}
  62%,100%{ background:rgb(45, 250, 4)}
}

.answer.wrong{
  animation:wrong 3s ease forwards;
}
@keyframes wrong{
  0%, 22%,42% {background:blue;}
  20%,40%,60%{ background:linear-gradient(#474d9e,rgb(13, 3, 67));}
  62%,100%{ background:rgb(250, 4, 4)}
}

.pyramid{
  width:25%;
  background-color:rgba(31, 13, 89, 0.999);
  display:flex;
  align-items: center;
  justify-content: center;

}
.moneylist{
  list-style-type:none;
  width:100%;
  padding:20px;
}


.moneylistitem{
  display:flex;
  align-items: center;
  padding:5px;
  border-radius: 6px;
}
.moneylistitem.active{
  background-color:rgb(216, 224, 72);
  color:hwb(243 30% 38%)
}
.moneylistitemnumber{
  font-size: 18px;
  font-weight:100;
  width: 30%
}
.moneylistitemamount{
  font-size: 20px;
  font-weight:300;

}
.endtext{
  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin :  auto;
}